@model QuizApp.Models.VideoAndArticle

@{
    ViewBag.Title = "ArticlesDetails";
}

<div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
    <div class="widget-content widget-content-area br-6">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <p>
                            @Html.ActionLink("< Listeye Geri Dön", "Articles")
                        </p>
                        <h2 class="text-center">@Model.Baslik</h2>
                        <hr/>
                        @Html.Raw(Model.Yazilar)
                        <br/>
                        <hr/>
                        <p>
                            @Html.ActionLink("< Listeye Geri Dön", "Articles")
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>