@{
    ViewBag.Title = "Home Page";
}
<link href="~/assets/css/dashboard/dash_1.css" rel="stylesheet" type="text/css"/>
<script src="~/plugins/apex/apexcharts.min.js"></script>
<script src="~/assets/js/dashboard/dash_1.js"></script>
<link href="~/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">

<div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
    <div class="widget widget-table-two">

        <div class="widget-heading">
            <h5 class="">Onaylanmamış Öğrenciler</h5>
        </div>

        <div class="widget-content">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <div class="th-content">Ad Soyad</div>
                        </th>
                        <th>
                            <div class="th-content">Mail</div>
                        </th>
                        <th>
                            <div class="th-content">Numara</div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <div class="td-content customer-name"><img src="assets/img/90x90.jpg" alt="avatar">Andy King</div>
                        </td>
                        <td>
                            <div class="td-content product-brand">Nike Sport</div>
                        </td>
                        <td>
                            <div class="td-content">#76894</div>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>