@model IEnumerable<QuizApp.Models.VideoAndArticle>
@{
    ViewBag.Title = "Makaleler";
    Layout = "~/Views/Shared/StudentLayout.cshtml";
}
<div class="row layout-top-spacing layout-spacing" style="padding-top: 4%">
    @foreach (var item in Model)
    {
        <div class="col-lg-1"></div>
        <div id="card_2" class="col-lg-4 layout-spacing layout-top-spacing ">
            <div class="card bg-dark ">
                <center>
                    <img class="card-img-top" src="~/turanhoca.png" style="max-height: 200px; max-width: 150px;"alt=" TuranBek">
                </center>
                <div class="card-header font-weight-bolder text-center   ">
                    <h4 class="text-white">
                        @item.Baslik
                    </h4>
                    <p class="float-right text-muted text-white"></p>
                </div>
                <div class="card-body">
                    <p class="card-text text-white">@item.Yazar</p>
                    <a href="~/Students/ArticlesShow/@item.ID" class="btn btn-primary float-right">Göster</a>
                </div>
                <div class="card-footer text-white text-center bg-dark">
                    <p class="card-text">
                        <small class="text-muted">@item.CratedDate.ToShortDateString()</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-1"></div>
    }
</div>