@model QuizApp.Models.VideoAndArticle
@{
    ViewBag.Title = Model.Baslik;
}
<div class="row">

    <div class="col-10 col-md-12">
        <div class="card">
            <div class="card-body">
                <p>
                    @Html.ActionLink("< Listeye Geri Dön", "Videos")
                </p>
                <h2 class="text-center">@Model.Baslik</h2>
                <hr/>
                @Html.Raw(Model.Link)
                <br/>
                <hr/>
                <button type="button" class="btn btn-outline-danger btn-md float-right" data-toggle="modal" data-target="#exampleModal">
                    Sil
                </button>
                <p>
                    @Html.ActionLink("< Listeye Geri Dön", "Videos")
                </p>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kaydı silmek istediğinize emin misiniz ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Silmek istediğinize emin misiniz ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hayır</button>
                <a href="~/Videos/Delete/@Model.ID" class="btn btn-danger">Evet</a>
            </div>
        </div>
    </div>
</div>